.section{
    background-color: lightblue;
}

.profile-img{
    height:300px;
    margin: 30px;
}

.container{
    font-family: 'Patrick Hand', cursive;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Mali', cursive;
    
}

.navbar-brand{
    font-family: 'Patrick Hand', cursive;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Mali', cursive;
    font-size: 50px;
    color: lightskyblue;
}

.nav-link{
    margin: 15px;
    font-size: 30px;
}

.nav-link:hover{
    color: aqua;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: lightblue;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Mali', cursive;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: black; 
  }
  
  .sidenav a:hover {
    color: lightgreen;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }